.Companies {
  padding: 0 20px 20px;
  width: 50%;

  &-header {
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 10;
    background-color: white;
    box-shadow: 0 0 5px 2px gray;

    button {
      font-size: 16px;
      padding: 12px 24px;
      border: 1px solid lightgrey;
      transition: all .3s ease;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px 2px gray;
      }

      &:active {
        background-color: antiquewhite;
      }
    }
  }

  &-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    &_item {
      position: relative;
      padding: 20px;
      background-color: white;
      box-shadow: 0 0 5px 2px gray;
      transition: all .3s ease;

      &:hover {
        background-color: rgb(254, 241, 224);
      }

      &> i {
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 24px;
        transition: all .3s ease;

        &:hover {
          color: orangered;
        }

        &:active {
          color: red;
        }
      }

      &> h1 {
        font-family: initial;
        text-align: center;
      }

      &> p {
        padding: 5px 0;
        font-size: 18px;

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}