@import url( 'https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:wght@300;600&display=swap');
body{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.App {
    
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    flex-direction: column;
    form {
        background: rgb(131,58,180);
        background: linear-gradient(122deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 86%, rgba(252,176,69,1) 100%);
        width: 350px;
        padding: 1em;
        border-radius: 12px;
        border: 2px solid antiquewhite;
        label {
            font-size: 21px;
            font-weight: 600;
        }
        input {
            padding: 9px;
            font-size: 22px;
            border: 1px solid #ccc;
            border-radius: 12px;
            margin: 5px auto;
            &#city {
                position: absolute;
                float: left;
                width: 200px;
                height: 40px;
            }
            &.add {
                font-size: 21px;
                width: 100px;
                display: inline;
                margin-left: 215px;
                height: 40px;
            }
        }
        & > .error {
            color: rgb(249, 236, 116);
            text-align: left;
            font-size: 18px;
            padding: 0;
            margin: 0;
        }
        li {
            font-size: 19px;
            width: 310px;
            height: 30px;
            background-color: whitesmoke;
            border: 1px solid antiquewhite;
            border-radius: 12px;
            list-style: decimal;
            padding-left: 15px;
            margin: 3px;
            span {
                float: right;
                margin-right: 10px;
                cursor: pointer;
                color: red;
                 width: 20px;
            }
        }
    }
}
