.CreateProducts {
  text-align: center;
  padding: 20px 0;
  button {
    width: 30%;
    padding: 16px 32px;
    font-size: 32px;
    font-family: inherit;
    font-weight: 700;
    border-radius: 1000px;
    border: none;
    outline: none;
    color: white;
    background: darkslategray;
    transition: all .3s ease;
    
    &:hover {
      cursor: pointer;
      background: darkslateblue;
    }

    &:active {
      background: #392e82;
      box-shadow: 0 0 4px 4px black;
    }
  }
}