.AddTodo {
	width: 100%;
	height: 50px;
	background: #fff2;
	border-radius: 8px;

	.AddTodo-form {
		width: 100%;
		height: 50px;
		display: flex;
		border-radius: 8px;
		overflow: hidden;

		& #addField {
			width: 96%;
			height: 100%;
			padding: 0 14px;
			font-family: 'Sansita Swashed', sans-serif;
			font-size: 2em;
			font-weight: 500;
			border: 0;
			background: #fff3;
			color: #fff;
			letter-spacing: 1px;
			line-height: 80%;
			text-shadow: 1px 2px 4px #0004;

			&:focus {
				outline: 0;
			}

			&::placeholder {
				color: #fff7;
			}
		}

		& #submit {
			color: rgb(68, 255, 0);
		}
	}
}
