$Primary-Color: #408ec6;
$Secondary-Color: #7a2048;
$Background-Color: #1e2761;

.registration-form {
  background-color: $Background-Color;
  color: $Secondary-Color;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 70vh;

  label {
    color: $Primary-Color;
    margin-bottom: 5px;
    display: block;
  }

  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid $Primary-Color;
    border-radius: 4px;
    background-color: $Primary-Color;
    color: #fff;
    &:focus {
      background-color: #67b0e3;
    }
  }

  input[type=file] {
    padding: 0;
    &::file-selector-button {
      padding: .4em .16em;
      background-color: $Primary-Color;
      color: $Background-Color;
      transition: 1s;
      &:hover {
        background-color: $Secondary-Color;
        color: #fff;
      }
    }
  }

  button {
    background-color: $Primary-Color;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: #64b0e6;
    }
  }

  .error-message {
    margin-top: -30px;
  }
}
