.Modal {
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22222276 linear-gradient(90deg, transparent 20%, #87cfeb52 40%, transparent 60%);
  backdrop-filter: blur(2px);
  background-size: 500%;
  animation: lightAnim 20s linear 0s infinite;

  & h2 {
    text-align: center;
    color: white;
  }

  & .btnGroup {
    display: flex;
    justify-content: space-between;

    &>button {
      border: none;
      font-size: 18px;
      font-family: inherit;
      padding: 8px 24px;
      border-radius: 1000px;
      color: white;
      background-color: rgb(184, 62, 237);

      &:hover {
        cursor: pointer;
        background-color: darkviolet;
      }
    }
  }

  &>* {
    min-width: 400px;
    aspect-ratio: 2 / 1;
    padding: 20px;
    background: #333333a2;
    border-radius: 20px;
    transform: scale(0);
    animation: openModal .5s ease 0s forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@keyframes openModal {
  to {
    transform: scale(1);
  }
}

@keyframes lightAnim {
  0% {
    background-position-x: 500%;
  }

  100% {
    background-position-x: 0%;
  }
}