
.btn{
    border: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    border-radius: 12px;
    padding: 0.6rem 1rem;
    margin: 1em;
    &-danger{
        background-color: #ff0505;
        color: antiquewhite;
    }
    &-success{
        background-color: rgb(105, 105, 250);
        color: blanchedalmond;

    }
    &-default{
        background-color: #ccc;
        color: black;
        border: 1px solid black;
    }
}