.List {
  & > ul {
    & > li {
      border: 1px solid black;
      border-radius: 7px;
      padding: 0.5em;
      margin: 10px;
      & > span {
        cursor: pointer;
        float: right;
      }
      & > span:hover {
        color: red;
        transition: 0.4s;
      }
    }
  }
}
