body {
    line-height: 1.6;
    font-family: "Playpen Sans";
    background-color: rgb(101, 101, 101);
    color: beige;
  }
  .Users{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    padding: 2em;
    p{
        padding: 12px;
        border: 1px solid black;
        flex: 0 0 24%;
    }}