li {
  margin: 10px;
  font-size: 20px;
  padding: 1em;
  border: 1px solid black;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 500px;
}

.People-h1 {
  margin: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  width: 500px;
}

.People span {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.People-btn {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 500px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(5, 157, 217);
  cursor: pointer;
  /* transition: scale border-color 0.25s; */
}

.People-btn:active {
  border: none;
  color: antiquewhite;
  background-color: rgb(5, 137, 163);
  transition: scale 0.25s;
}

.People-h2-isActive {
  background-color: chocolate;
  width: 500px;
}