.Navbar {
	height: 100px;
	width: 100%;
	// padding: 1em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #222;
	background-color: #aba2a2;

	ul {
		list-style: none;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: 100%;
		width: 80%;

		li {
			a {
				&.active-link {
					font-size: 28px;
					text-decoration: underline;
					color: rgb(5, 115, 162);
				}
			}
		}
	}
}
