.Users {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	ul {
		width: 800px;
		height: 600px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 12px;
		background: lavender;
		border-radius: 10px;
		box-shadow: 2px 5px 5px #0005, inset 0 8px 14px 2px #0001, inset 0 -8px 14px 2px #0001;
		padding: 20px;
		overflow-y: auto;
		animation: openContainer 0.4s ease 0.3s backwards;
	}

	&-userWrapper {
		width: 100%;
		height: 60px;
		background: beige;
		border-radius: 10px;
		box-shadow: 2px 4px 3px #0004;
		display: flex;
		align-items: center;
		gap: 26px;
		transition: 0.5s ease;
		overflow: hidden;
		animation: openUserWindow 0.3s ease 0.7s backwards;
	}

	&-addBtnWrapper {
		align-self: flex-start;
	}

	&-imageWrapper {
		height: 100%;
		border: 3px solid rgb(13, 218, 218);
		outline: 1.5px solid teal;
		outline-offset: -3px;
		border-radius: 10px;
		overflow: hidden;

		img {
			object-fit: cover;
			height: 100%;
		}
	}

	&-textInfo {
		text-wrap: nowrap;
		width: 260px;
	}

	&-name {
		letter-spacing: 1px;
	}

	&-knownAs {
		font-style: italic;
	}

	.userBtn {
		width: 28px;
		cursor: pointer;
		font-size: 1.2em;
		border: 0;
	}

	&-addUser {
		width: 40px;
		height: 40px;
		cursor: pointer;
		font-size: 1.4em;
		font-weight: 600;
		padding: 8px;
		border: 1px solid #0004;
		border-radius: 6px;
		line-height: 150%;
		transition: 0.2s ease;
		align-self: flex-end;
		box-shadow: 2px 4px 3px #0004;
		animation: opacityAppear 0.4s ease 1s backwards;

		&:hover {
			background: rgb(99, 240, 5);
		}
	}
}

@keyframes opacityAppear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
