.slide-lamp {
  width: 278px !important;
  img {
    height: 312px;
  }
}

.content {
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  background: #fff;
  text-align: center;
  h4 {
    color: #282a30;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
}
