.CompanyForm {
  align-self: flex-start;
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 5px 2px gray;
  width: 40%;

  form {
    width: 100%;

    label {
      display: block;
      padding: 6px 0;
      font-size: 16px;
    }

    p {
      color: red;
    }

    input:not([type="submit"]) {
      width: 100%;
      padding: 12px;
      outline: none;
      border: 1px solid lightgrey;
      font-size: 18px;
    }

    input[type="submit"] {
      border: none;
      outline: none;
      display: block;
      margin: 30px auto 10px;
      padding: 12px 24px;
      font-size: 16px;
      box-shadow: 0 0 5px 2px gray;
      transition: all .5s ease;

      &:hover {
        cursor: pointer;
        background-color: white;
      }

      &:active {
        background-color: antiquewhite;
        box-shadow: 0 0 5px 2px darkslategray;
      }
    }
  }
}