body{
    background-color: rgb(133, 132, 132);
}
.Flex{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: start;
    gap: 20px;
    
    &>div{    
        flex-basis: 20%;
        border: 1px solid rgb(0, 0, 0);
        text-align: center;
       img {
            overflow: hidden;
            width: 50%;
        }
    }
}

form{
    width: 450px;
    margin: 20px auto;
    input{
        font-size: 20px;
        padding: 0.5em;
        margin: 10px;
    }
}