.App {
	width: 1200px;
	margin: 20px;
	padding: 10px 2em;

	&-title {
		text-align: center;
		font-size: 3em;
		font-variant: small-caps;
		color: cyan;
		mix-blend-mode: luminosity;
		user-select: none;
		svg {
			margin-right: 20px;
			vertical-align: middle;
		}
	}

	button {
		height: 100%;
		font-size: 1em;
		cursor: pointer;
		background: #05a5;
		border: 0;
		color: aliceblue;
		transition: 0.3s ease;
		padding: 5px;
		box-shadow: 1px 2px 5px 1px #0005;

		&:hover {
			background: #48f920;
			color: #000;
		}
	}
}
