.App {
  &-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    h1 {
      text-align: center;
      width: 100%;
      padding: 12px 0;
    }

    .active {
      background-color: rgb(255, 213, 157);
      box-shadow: 0 0 4px 2px gray;
    }

    button {
      border: none;
      outline: none;
      font-size: 20px;
      padding: 16px 32px;
      background-color: antiquewhite;
      transition: all .3s ease;

      &:hover {
        cursor: pointer;
        background-color: rgb(255, 213, 157);
        box-shadow: 0 0 4px 2px gray;
      }
    }
  }
}