.UserPosts {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  flex-direction: column;
  gap: 15px;

  &-item {
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
    background-color: #333;
    border-radius: 20px;
    border: 1px solid dimgrey;
    color: white;

    &_user {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 0;
      gap: 20px;

      &> a {
        font-size: 24px;
        border-bottom: 2px solid gray;
        transition: all .3s ease;

        &:hover {
          cursor: pointer;
          color: orange;
          border-color: orangered;
        }
      }

      &> img {
        width: 82px;
        height: 82px;
        display: block;
        border-radius: 50%;
      }
    }

    &_body {
      font-size: 18px;
      padding: 20px 0;
      color: lightgrey;
    }

    &_imgbox {
      display: flex;
      flex-wrap: nowrap;
      gap: 5px;
      height: 384px;
      padding: 5px 0;
      perspective: 100%;
      
      &_img {
        min-width: calc(100% / var(--img-count) - 4px);
        height: 100%;
        transition: all 1s ease;
        transform-origin: center center;
        position: relative;

         
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          inset: 0 -2%;
          height: 100%;
          width: 104%;
        }

        &:hover {
          cursor: pointer;
          min-width: calc(100% / var(--img-count) - 4px + 10%)
        }

        &:hover img {
          object-position: center;
        }

        &:hover ~ *,
        &:has(~ :hover) {
          min-width: calc(100% / var(--img-count) - 4px - 5%)
        }

        &> img {
          border-radius: 10px;
          object-fit: cover;
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}