*{
  font-family: monospace;
}

.App {
  & > .Todo {
    position: absolute;
    left: 12%;
    top: 5%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    z-index: 9999;
    background-color: #222222b4;
    padding: 20px;
    width: 150vh;
    p {
      color: red;
      font-size: 30px;
    }
    & > button {
      font-size: 30px;
      width: 200px;
      height: 40px;
      border-radius: 15px;
      border: 2px solid rgb(135, 130, 130);
      color: white;
      background-color: rgb(0, 0, 0, 0);
    }
    & > button:hover {
      background-color: rgb(135, 130, 130);
      color: white;
      transition: 0.8s;
    }
    & > form {
      & > input {
        font-size: 25px;
        width: 130vh;
        height: 40px;
        border-radius: 7px;
        border: 0;
      }
      & > h1 {
        position: relative;
        margin-left: 40%;
        font-size: 4vh;
        margin-bottom: 1em;
      }
      & > button {
        float: right;
        width: 14vh;
        height: 43px;
        padding: 0.5em;
        border-radius: 7px;
        border: 2px solid rgb(135, 130, 130);
        color: white;
        background-color: rgb(0, 0, 0, 0);
      }
      & > button:hover {
        background-color: rgb(135, 130, 130);
        color: white;
        transition: 0.8s;
      }
    }
    & > .List {
      border: 1px solid black;
      background-color: white;
      height: 60%;
      overflow: auto;
    }
  }
}
