.PostForm {
  max-width: 960px;
  margin: 20px;
  padding: 20px;
  background: #161b22;
  border-radius: 20px;
  border: 1px solid gray;

  form {
    width: 100%;
    
    button {
      justify-self: flex-end;
      display: block;
      margin: 16px auto;
      padding: 8px 16px;
      background-color: #333;
      color: white;
      border-radius: 8px;
      border: 1px solid gray;
      font-size: 18px;
      transition: all .3s ease;

      
      &:hover {
        cursor: pointer;
        background: linear-gradient(90deg, #333 0%,rgba(255, 255, 255, 0.541) 10%, #333 20%);
        background-size: 400%;
        color: orange;
        animation: buttonHover 15s linear infinite;
      }

      &:active {
        color: orangered;
        box-shadow: 0px 0px 2px 2px orange;
      }
    }

    label {
      color: gray;
      display: block;
      padding: 8px 0;
    }

    input, textarea {
      border: 1px solid grey;
      outline: none;
      background-color: #333;
      color: white;
      border-radius: 8px;
    }

    ._textArea {
      width: 100%;
      display: flex;
      flex-direction: column;

      &> textarea {
        aspect-ratio: 3 / 1;
        resize: none;
        padding: 8px;
        font-size: 18px;
      }
    }
    
    input[type="url"] {
      padding: 8px 16px;
      font-size: 20px;
      width: 60%;
    }
  }
}

@keyframes buttonHover {
  0% {
    background-position-x: 400%;
  }
  100% {
    background-position-x: 0%;
  }
}