.Todos {
  max-width: 1200px;
  height: calc(100vh - var(--rest-height));
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #444;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: auto;

  &-item {
    padding: 20px;
    font-size: 18px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: var(--theme-cyan);
    }

    &_complated {
      background-color: rgb(49, 108, 108);

      &:hover {
        background-color: rgb(49, 108, 108);
      }
    }

    &_btns {
      display: flex;
      gap: 20px;
      align-items: center;
      font-size: 32px;

      &> svg:hover {
        cursor: pointer;
      }

      &>svg._completed {
        path {
          stroke: lightseagreen !important;
        }
      }
    }

    &>h2 {
      font-size: 18px;
      font-weight: 500;
    }
  }
}