.Users {
	width: 960px;

	table {
		width: 100%;
		border: 3px solid rgba(128, 128, 128, 0.443);
		border-left: 0;
		border-right: 0;

		thead {
			background: linear-gradient(to right, lime, cyan);
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
		}

		& .tableId {
			width: 100px;
		}

		& .tableFirstName,
		& .tableLastName {
			width: 260px;
		}

		& .tableEmail {
			width: 280px;
		}

		& .tableRemove {
			width: 60px;
		}

		tbody {
			color: lavender;
		}

		th,
		td {
			padding: 1em;
			text-align: left;
		}

		th.tableId {
			text-align: center;
		}

		tr.noData td {
			text-align: center;
			font-weight: 700;
			font-size: 1.4em;
			letter-spacing: 3px;
		}
	}

	.fa-solid {
		color: #aaa8;
		transition: 0.2s ease;
		cursor: pointer;

		&:hover {
			color: #fff;
		}
	}
}
