.Company {
	display: flex;
	flex-direction: column;
	font-size: 0.7em;
	overflow: hidden;
	transition: 0.3s ease;

	&_opened {
		height: 70%;
	}

	&_closed {
		height: 1%;
	}

	& > p {
		& > span {
			color: orange;
			margin-right: 10px;
		}
	}
}
