.Add {
	width: 90%;
	height: 80px;
	min-width: 200px;
	// border: 4px solid red;
	text-align: center;

	form {
		height: 60px;
		border-radius: 100px;
		// padding: 5px;
		border: 3px solid #000f2baa;
		background-clip: border-box;
		-webkit-background-clip: border-box;
		position: relative;
		overflow: hidden;
	}

	&-input {
		width: 98%;
		height: 100%;
		padding: 0.6em 1rem;
		font-size: 42px;
		vertical-align: middle;
		font-family: 'Bebas Neue', sans-serif;
		letter-spacing: 1px;
		border-radius: 100px;
		border: 0;
		background: linear-gradient(to right, rgb(0, 186, 186), cyan);
		background-clip: text;
		-webkit-background-clip: text;
		color: #0005;
		transition: 0.3s ease;
		// z-index: 2;
		overflow: hidden;

		&:focus {
			outline: none;
			// border: 1px solid #0007;
		}
	}

	&-submit {
		width: 50px;
		height: 100%;
		// margin-left: 20px;
		padding: 4px;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		background: #111;
		color: rgb(220, 220, 254);
		border: 0;
		font-size: 28px;
		line-height: 10px;
		// border-radius: 50%;
		// vertical-align: middle;
		cursor: pointer;
		transition: 0.3s ease;
		position: absolute;
		right: 0;
		top: 0;

		&:hover {
			background: rgb(0, 162, 255);
			color: #fff;
		}
	}
}
