.Stand {
	font-family: 'Oswald', sans-serif;
	text-align: right;
	color: rgb(0, 170, 255);
	font-size: 6em;
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 30%;
	height: 70%;
	background: #0005;
	transform: rotateX(90deg) rotateY(-1deg) rotateZ(15deg) translateZ(25px) translateX(740px) translateY(1900px);
	box-shadow: -4px 0 20px 5px rgba(0, 170, 255, 0.2), 0 -15px 20px 5px rgba(0, 170, 255, 0.2);
	border: 3px solid rgb(0, 170, 255);
	border-radius: 4px;

	&-authorSign {
		position: absolute;
		font-size: 40px;
		bottom: 0;
		right: 0;
		width: 50px;
		height: 80px;
		text-align: center;
		mix-blend-mode: hue;
		font-family: 'Oswald', sans-serif;
		letter-spacing: -8px;
		color: rgba(4, 188, 208, 0.7);
		text-shadow: 0 0 5px inherit;
		animation: hueRotate 8s linear alternate infinite;
		&::first-letter {
			color: rgb(12, 248, 63, 0.7);
		}
	}
}

@keyframes hueRotate {
	0% {
		filter: hue-rotate(0);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}
