.btn{
  border: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
 border-radius: 12px;
 padding: 0.6rem 1rem;
 &-denger{
  background-color: #d35454;
  color: #fff;
 }
 &-success{
  background-color: #3f0808;
  color: #fff;
 }
}