#root{
    max-width: 1300px;
    margin: 0 auto;
    padding: left 16px;
    padding-right: 16px;
 
}

.Posts{
display: flex;
flex-wrap: wrap;
gap: 10px;
justify-content: space-evenly;
padding: 2em;
a{
    padding: 12px;
    border: 1px solid black;
    flex: 0 0 24%;
}

}

 .isActive-dark{
    background-color: black;
}
