body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);    font-family: monospace;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: black; 
}

a:hover{
    color: white;
    transition: 1s;
}

.UsersList {
    max-width: 600px;
    margin-bottom: 30px;
    border-radius: 8px;
    display: inline-block;
    font-size: 28px;
}

.UsersList, ul {
    list-style: none;
    padding: 0;
}

.UsersList, li {
    text-align: center;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
}

li{
    cursor: pointer;
    &:hover {
        background-color: white;
        transition: 1.5s;
    }
}

.selected {
    background-color: #00ff08 !important;
    color: white;
    transition: 1.5s;
}

.UserInfo { 
    width: 1000px;
    margin-top: 5%;
    font-size: 28px;
    height: auto;
    float:right;
}