body {
  background-color: #1a1a1a;
}
.AddPersonForm {
  h1 {
    margin-top: 30px;
    text-align: center;
  }
}

.form-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
}

.form-fields-container {
  display: flex;
  flex-wrap: wrap;
}

.left-section,
.right-section {
  width: calc(48% - 80px)
}

.form-field {
  margin-bottom: 15px;
  width: 100%;
}

.label {
  margin-bottom: 5px;
}

.error-message {
  color: #ff6666;
  margin-top: 5px;
}

.input-field {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  border: 1px solid #888;
  border-radius: 5px;
  outline: none;
  &:focus {
    background-color: #555;
  }
}

.button-container {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.button {
  cursor: pointer;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 20%;
  &:hover {
    background-color: #666;
  }
}

@media (max-width: 768px) {
  .left-section,
  .right-section {
    width: 100%;
  }
}
