.Users {
  padding: 20px;

  table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;

    tr:nth-child(even) {
      background-color: #627794;
    }

    tr:nth-child(odd) {
      background-color: #313d4e;
    }

    tr:hover {
      background-color: #292f36;
    }

    td>a {
      text-decoration: underline;
      color: lightblue;

      &:hover {
        cursor: pointer;
        color: darkcyan;
      }
    }

    td,
    th {
      border: 1px solid gray;
      padding: 16px;
      color: whitesmoke;
    }

    th {
      font-size: 18px;
      background-color: #161b22;
      text-align: left;
    }
  }
}