.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &>li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 20px;
    background: antiquewhite;
    border: 1px solid lightgray;
    color: black;
    transition: .3s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      background: lightsalmon;
    }

    &:focus {
      transform: scale(1.1);
      background: lightsalmon;
    }

    &.active {
      transform: scale(1.1);
      background: lightsalmon;
    }
  }
}