.App{
  // width: 70%;
  height: 100vh;
  margin: 0 auto;
  background-color: #dedede;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  form{
    width: 450px;
    // height: 340px;
    padding: 1em;
    border-radius: 12px;
    font-size: 22px;
    border: 2px solid teal;
    input{
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 12px;
      margin: 10px auto;
      cursor: pointer;
    }
    label{
      font-size: 20px;
      font-variant: small-caps;
    }
    &>.error{
      animation: err 2s;
      color: red;
      font-size: 20px;
      text-align: center;
      font-weight: 700;
    }
  }
}
@keyframes err{
  0%{
    transform: scale(0%);
  }
  100%{
    transform: scale(100%);
  }
}