.Button {
  padding: 12px 24px;
  border: none;
  border-radius: 1000px;
  font-size: 18px;
  font-family: "Playpen Sans";
  transition: all .5s ease;

  &-dark {
    color: white;
    background-color: rgb(53, 53, 53);
  }
  
  &-light {
    color: black;
    background-color: lightsalmon;
  }

  &-prime {
    color: rgb(255, 255, 255);
    background-color: darkslateblue;
  }

  &:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(44, 44, 44);
  }
}