.users-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #6b0aa3;
  color: #ffffff;
}

td {
  background-color: #f9f9f9;
}

.empty-message {
  font-style: italic;
  margin-top: 10px;
  color: #777;
}