ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li {
  padding: 6px;
  border: 1px solid #111;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}