.User {
	display: flex;
	justify-content: center;
	&-content {
		width: 80%;
		display: flex;
		justify-content: center;
		gap: 40px;
	}

	&-textInfoContent {
		width: 60%;
	}

	&-noData {
		display: flex;
		flex-direction: column;
		gap: 10px;
		justify-content: center;
		align-items: center;

		h2 {
			letter-spacing: 4px;
		}

		a {
			padding: 6px 10px;
			background: #0003;
			transition: 0.3s ease;

			&:hover {
				background: linear-gradient(to right, lime, cyan);
				background-clip: text;
				-webkit-background-clip: text;
				color: transparent;
			}
		}
	}
}
