.App {
	// width: 70%;
	margin: 0 auto;
	background-color: #dedede;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	form {
		width: 450px;
		padding: 1em;
		border: 2px solid teal;
		border-radius: 12px;

		& > .error {
			color: #ff0303;
			text-align: center;
			font-weight: 600;
			font-size: 20px;
		}

		input {
			width: 100%;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 12px;
			margin: 10px auto;
			font-size: 22px;
		}
	}
}
