.Home {
	&.centerAlign {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&-title {
		width: 300px;
		letter-spacing: 3px;
		animation: appear 3s ease;
		user-select: none;

		&.small {
			font-size: 1.2em;
			color: lime;
			text-shadow: 0 0 26px rgba(56, 255, 56, 40%);
			margin-left: 10px;
		}

		&.large {
			font-size: 5em;
			color: transparent;
			background-image: linear-gradient(to right bottom, rgb(0, 170, 255), rgb(0, 170, 255));
			background-clip: text;
			-webkit-background-clip: text;
			text-shadow: 0 0 56px rgba(0, 170, 255, 20%);
			line-height: 100%;
		}
	}
}
