.Register {
	width: 1280px;
	padding: 1em;

	&-textAreaField {
		textarea {
			resize: none;
			width: 100%;
			padding: 10px;
			font-family: 'Poppins', sans-serif;
			font-weight: 500;
			color: purple;
			&:focus {
				outline: 0;
			}
		}
	}

	&-birthDateSelect {
		display: flex;
		gap: 14px;
		position: relative;
	}

	&-genderSelect {
		display: flex;
		position: relative;
		height: 40px;
		flex-grow: 1;

		#male,
		#female {
			display: none;
		}

		#male {
			&:checked ~ div.checkLight {
				left: 0;
				transition: 0.4s ease;
				filter: hue-rotate(0);
			}
		}

		#female {
			&:checked ~ div.checkLight {
				left: 50%;
				transition: 0.4s ease;
				filter: hue-rotate(90deg);
			}
		}

		& .checkLight {
			width: 50%;
			height: 100%;
			position: absolute;
			background-image: linear-gradient(to right, transparent, rgba(0, 123, 255, 0.8), transparent);
			z-index: -1;
		}

		label.gender {
			flex-basis: 50%;
			height: 100%;
			line-height: 40px;
			letter-spacing: 2px;
			font-size: 1.2em;
			text-align: center;
			cursor: pointer;
			transition: 0.4s ease;
			user-select: none;
		}
	}

	&-inputWrapper {
		display: flex;
		flex-flow: row wrap;
		gap: 30px;
		width: 80%;
		justify-content: space-between;
		// height: 300px;
		// border: 1px solid yellow;
		& > * {
			flex-basis: 47%;
		}
	}

	&-form {
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		// border: 1px solid yellow;
		padding: 2em 0;
		position: relative;
		transition: 0.6s ease;

		&_signed {
			width: 0%;
			transition: 0.6s ease;
		}

		input {
			border: 0;
			font-family: 'Poppins', sans-serif;
			font-size: 1.2em;
			background: transparent;
			color: lavender;
			transition: 0.3s ease;

			&#submit {
				background: linear-gradient(to right, lime, cyan);
				background-clip: text;
				-webkit-background-clip: text;
				height: inherit;
				text-transform: uppercase;
				cursor: pointer;
				transition: 0.3s ease;
				padding: 0 20px;
				letter-spacing: 3px;
				font-size: 1.4em;

				&:hover {
					color: transparent;

					& + div {
						background: rgb(221, 79, 174);
						box-shadow: -10px 0 80px 6px rgb(221, 79, 174);
					}
				}
			}
		}
	}

	&-buttonLight {
		position: absolute;
		right: 0;
		top: 2em;
		bottom: 2em;
		margin: auto;
		width: 3px;
		height: 100%;
		background: rgba(107, 208, 248, 0.2);
		transition: 0.3s ease;
	}
}
