.InputField {
	height: 74px;
	position: relative;

	&-label {
		background: linear-gradient(to right, lime, cyan 30%);
		background-clip: text;
		-webkit-background-clip: text;
		transition: 0.3s ease;
		transform: translateY(-100%);
		padding: 4px 20px;
		// border: 1px solid black;
		width: 44%;
	}

	input:not(#submit) {
		width: 100%;
		height: 40px;
		position: relative;
		z-index: 2;
		overflow: hidden;

		border-left: 3px solid rgba(107, 208, 248, 0.2);
		padding: 10px 20px;

		&:focus {
			outline: 0;
			border-left-color: lime;
			transition: 0.3s ease;

			& ~ .InputField-light {
				box-shadow: 6px 0 26px lime;
			}
		}

		&:focus + div,
		&:not(:focus):not([value='']) + div {
			transform: translateY(-200%);
			color: transparent;
			// font-weight: 600;
			scale: 0.9;
			padding-left: 8px;
		}
	}

	&-errorMessage {
		height: 24px;
		font-size: 14px;
		background: linear-gradient(to right, rgb(235, 0, 165), rgb(255, 153, 224));
		background-clip: text;
		-webkit-background-clip: text;
		color: rgb(248, 62, 62);
		color: transparent;
		letter-spacing: 1px;
		padding-left: 20px;
		translate: transformY(-100%);
		position: absolute;
		bottom: 10px;
		text-wrap: nowrap;
		text-shadow: 0 0 30px #fff6;
		overflow: hidden;
		animation: errorMessageAppear 0.6s ease;
		// border: 1px solid yellow;
	}

	&-light {
		position: absolute;
		top: 0;
		width: 3px;
		height: 54%;
		// background: lime;
		box-shadow: none;
		transition: 0.3s ease;
	}
}

@keyframes errorMessageAppear {
	0% {
		width: 0%;
		// height: 0%;
	}
	100% {
		width: default;
		// height: 24px;
	}
}
