.Groups {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	letter-spacing: 1px;

	&-addGroup {
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 10px;
		color: rgb(70, 138, 205);
		font-size: 3em;
		cursor: pointer;
		transition: 0.2s ease;

		&:hover {
			color: rgb(73, 255, 73);
		}
	}

	& > .pageTitle {
		background-image: linear-gradient(to right bottom, rgb(70, 138, 205), rgb(70, 138, 205));
	}

	&-content {
		width: 1200px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		align-content: flex-start;
		gap: 40px;
		padding: 1em;
		padding-top: 80px;
		position: relative;
		animation: appear 1s ease 1s backwards;
		transform-style: preserve-3d;
		perspective: 1600px;
		border: 2px solid red;
	}

	&-noData {
		color: rgb(67, 175, 252);
	}
}
