.Layouts {
	height: 100vh;
	--navbar-height: 60px;

	& > section {
		margin-top: var(--navbar-height);
		width: 100%;
		min-height: 100%;
		background: rgb(23, 18, 23);
		position: relative;
		font-family: 'Sansita Swashed', sans-serif;
		padding: 1em;
	}

	& .pageTitle {
		font-size: 5.8em;
		position: absolute;
		top: 20px;
		text-shadow: 2px 5px 5px #0004;
		animation: moveFromLeft 1s ease-out;
		user-select: none;
	}

	button {
		width: 150px;
		height: 42px;
		font-family: 'Sansita Swashed', sans-serif;
		font-size: 1.3em;
		text-shadow: 1px 1px 1px #0006;
		color: #000;
		letter-spacing: 1px;
		background: rgb(36, 203, 245);
		border-radius: 6px;
		border: 0;
		box-shadow: 2px 5px 5px #0008;
		cursor: pointer;
		transition: 0.2s ease;

		&:hover {
			background: rgb(62, 248, 62);
			color: purple;
		}

		&:active {
			scale: 0.98;
			box-shadow: 1px 2px 1px #0006;
		}
	}
}

@keyframes moveFromLeft {
	0% {
		transform: translateX(-100vw);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
