.Layouts {
	height: 100vh;
	--navbar-height: 60px;

	& > section {
		margin-top: var(--navbar-height);
		width: 100%;
		min-height: 100vh;
		position: relative;
		font-family: 'Sansita Swashed', sans-serif;
		padding: 1em;
	}

	& .pageTitle {
		font-size: 5.8em;
		text-shadow: 2px 5px 5px #0004;
		animation: moveFromLeft 1s ease-out;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		user-select: none;
	}

	button {
		width: 130px;
		height: 130px;
		font-family: 'Sansita Swashed', sans-serif;
		font-size: 1.3em;
		text-shadow: 1px 1px 1px #0006;
		color: #000;
		letter-spacing: 1px;
		background: rgb(36, 203, 245);
		text-shadow: 1px 2px 2px #0003;
		border-radius: 50%;
		border: 0;
		box-shadow: 2px 5px 5px #0008;
		cursor: pointer;
		user-select: none;
		transition: 0.2s ease;
	}
}

@keyframes moveFromLeft {
	0% {
		transform: translateX(-100vw);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
