h1{
    color: rgb(167, 95, 95);
    text-align: center;
}
.list{
    list-style-type: none;
    margin: 20px auto;
    width: 700px;
    background-color: rgb(193, 218, 218);
    padding: 20px;
    
 &-todos{
background-color: aliceblue;
padding: 10px;
border-radius: 5px;

&_item{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
 }
    
}
button{
        border-radius: 5px;
        padding: 3px;
        background-color: rgb(173, 148, 148);
        height: 24px;
    };

.completed{
    font-weight: 500;
}