.Container {
	width: 1280px;
	height: 666px;
	background: teal;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	margin: 1em;
	gap: 20px;
	border-radius: 10px;
	box-shadow: 3px 5px 8px 2px #0007;
	font-family: 'Sansita Swashed', sans-serif;

	h1 {
		font-size: 5em;
		font-weight: 700;
		line-height: 120%;
		text-shadow: 2px 5px 5px #0005;
		display: flex;
		background: linear-gradient(to right, rgb(0, 251, 255), rgb(246, 0, 217));
		background-clip: text;
		-webkit-background-clip: text;
		color: #fff5;
		user-select: none;
	}

	button {
		flex-grow: 1;
		height: 100%;
		font-size: 30px;
		padding: 2px 10px;
		line-height: 70%;
		border: 0;
		background: rgb(0, 85, 85);
		cursor: pointer;
		transition: 0.2s ease;

		&:hover {
			background: rgb(11, 101, 101);
		}
	}
}
