.Address {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.7em;
	overflow: hidden;
	transition: 0.3s ease;

	&_opened {
		height: 70%;
	}

	&_closed {
		height: 1%;
	}

	& > * {
		width: 50%;
		& > span {
			color: orange;
			margin-right: 10px;
		}
		& small {
			color: lightpink;
			font-size: 14px;
			margin-left: 5px;
			text-wrap: nowrap;
		}
	}
}
