.PostCard {
	width: 100%;
	min-height: 240px;
	border: 2px solid purple;
	padding: 20px;
	position: relative;
	box-shadow: 2px 5px 5px 3px #0003;
	background: linear-gradient(to left top, rgb(229, 2, 146), rgb(216, 93, 227));
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;

	&-userId,
	&-id,
	&-removePost {
		position: absolute;
		width: 50px;
		height: 30px;
		color: lavender;
		background: #2224;
		padding: 0 6px;
		transition: 0.4s ease;
	}

	&-removePost {
		width: 80px;
		left: -80px;
		bottom: 20px;
		text-align: right;
		border: 0;
		font-size: 16px;
		cursor: pointer;
		background: #0008;

		&:hover {
			background: #ff370080;
		}
	}

	&:hover > &-removePost {
		left: -8px;
	}

	&-userId {
		left: -50px;
		top: 20px;
		text-align: right;
	}

	&:hover > &-title {
		color: greenyellow;
	}

	&:hover > &-userId {
		left: -4px;
	}

	&-id {
		right: -50px;
		bottom: 20px;
		text-align: center;
	}

	&:hover > &-id {
		right: -1px;
	}

	&-title {
		width: 70%;
		color: purple;
		text-align: center;
		font-size: 22px;
		font-weight: 600;
		line-height: 100%;
		font-variant: small-caps;
		margin-bottom: 12px;
		transition: 0.3s ease;
	}

	&-body {
		font-size: 16px;
		text-align: justify;
		line-height: 120%;

		&::first-letter {
			text-transform: capitalize;
		}
	}
}
