body {
  background-color: #17182a;
}

.app-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  input {
    outline: none;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}
