.App {
  &-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;

    button {
      padding: 12px 32px;
      font-size: 18px;
      border: 1px solid lightgray;
      transition: all .3s ease;

      &:hover {
        cursor: pointer;
        background-color: coral;
        color: white;
      }
      &:active {
        background-color: orangered;
      }
    }
  }
}