.Button {
  display: block;
  width: 150px;
  height: 48px;
  border-radius: 40px;
  color: white;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;

  &-primary {
    border: 2px solid white;
    background: transparent;
  }

  &-secondary {
    border: none;
    color: #343045;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  }
}