.Posts {
  padding: 20px;

  &-hidden {
    display: none;
  }

  &-item {
    background-color: darkviolet;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;

    &_title {
      text-align: center;
    }

    &_body {
      margin: 20px 0;
    }

    &:nth-child(2n + 2) {
      background-color: rgb(40, 40, 40);
    }

    &:nth-child(3n + 1) {
      color: black;
      background-color: rgb(255, 255, 255);
    }
  }
}
