h1{
  text-align: center;
}
.container{
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1px solid grey;
  &-box{
    margin-left: 0;
    list-style: none;
    counter-reset: li;
    background-color: chartreuse;
    &_item{
position: relative;
margin-bottom: 1.5em;
border: 3px solid #CADFCF;
padding: 0.6em;
border-radius: 4px;
background: #FEFEFE;
color: #231F20;
font-family: "Trebuchet MS", "Lucida Sans";
}
} 
}
