.App {
	width: 1080px;
	height: 640px;
	background: #fff;
	padding: 0.8em 3.2em 1.6em;
	border: 1px solid grey;

	form {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0.8em;

		& .formTitle {
			width: 100%;
			text-align: center;
			font-weight: 600;
			font-size: 2.36em;
			background: linear-gradient(90deg, var(--color-two), var(--color-one) 40%, var(--color-two) 56%);
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
		}

		& #submit {
			width: 26.5%;
			height: 58px;
			color: white;
			font-size: 1.1em;
			font-weight: 600;
			letter-spacing: 1px;
			background: linear-gradient(135deg, var(--color-one), var(--color-two) 80%);
			border: 0;
		}
	}
}
