.AnimatedBlocks {
	width: 100%;
	min-height: 100vh;
	transform-style: preserve-3d;
	perspective: 2000px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;

	& div {
		background: #aaa1;
		position: absolute;
		border-radius: 8px;
		animation: bgAnim 3s cubic-bezier(0.18, 0.7, 0.09, 0.99);
	}

	&-rightBottom {
		width: 400px;
		height: 100px;
		right: 100px;
		bottom: 100px;
		transform: rotate(-70deg) rotateX(30deg) rotateY(20deg) skew(20deg);
	}

	&-leftBottom {
		width: 700px;
		height: 200px;
		left: 100px;
		bottom: 100px;
		transform: rotate(-70deg) rotateX(30deg) rotateY(20deg) skew(20deg);
	}

	&-leftTop {
		width: 1200px;
		height: 360px;
		left: -200px;
		top: 100px;
		transform: rotate(-70deg) rotateX(30deg) rotateY(20deg) skew(20deg);
	}

	& &-rightTop {
		width: 240px;
		height: 160px;
		right: 190px;
		top: 100px;
		background: #aaa2;
		transform: rotate(-70deg) rotateX(30deg) rotateY(20deg) skew(20deg);
	}

	& &-right {
		width: 1100px;
		height: 70px;
		right: -160px;
		bottom: 200px;
		background: #aaa2;
		transform: rotate(-70deg) rotateX(30deg) rotateY(20deg) skew(20deg);
	}

	& &-left {
		width: 1100px;
		height: 70px;
		left: -260px;
		top: 100px;
		background: #aaa2;
		transform: rotate(-70deg) rotateX(30deg) rotateY(20deg) skew(20deg);
	}
}

@keyframes bgAnim {
	0% {
		opacity: 0;
		transform: rotate(-70deg) rotateX(30deg) rotateY(20deg) translateX(900px) skew(20deg);
	}
	100% {
		opacity: 1;
		transform: rotate(-70deg) rotateX(30deg) rotateY(20deg) translateX(0) skew(20deg);
	}
}
