.Books {
  width: 70%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.Books>li {
  border: 2px solid #ccc;
  padding: 1em;
  text-align: center;
  margin: 20px;
  flex: 0 0 24%;

}