.posts{
    margin: 0 auto;
    width: 700px;
    text-align: left;
    & li{
        list-style: none;
        border: 2px solid teal;
        border-radius: 5px;
        padding: 5px;
        margin: 10px 0;
         
    } 
    & li:hover{
            background-color: teal;
            color: aliceblue;
        } 
    & h1{
        text-align: center;
        color: teal;
    }
}
.pages{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    width: 900px;
    & li{
        list-style: none;
    }
    & li:hover{
        color:white;
        background-color: teal;
    }

}
.App{
    margin: 0 auto;
    width: 1140px;
    text-align: right;
    & h1{
        text-align: center;
        font-size: 30px;
        color: teal;
    }
    & h2, form{
        margin-right: 220px;
        color: teal;
    }
    & input, & select{
        padding: 5px;
        border: 1px solid teal;
        border-radius: 5px;
        background-color: rgb(143, 182, 182);
        margin: 5px;
    }
}