.Button {
    padding: 12px 24px;
    margin: 12px 0;
    border: none;
    border-radius: 1000px;
    font-size: 18px;
    font-family: inherit;
    font-weight: 400;
    color: white;
    background-color: darksalmon;

    &:hover {
        cursor: pointer;
        background-color: darkorange;
    }
}