.CustomField {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;

  input {
    outline: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid lightgrey;
  }

  & ._error {
    font-size: 16px;
    animation: errorShow .5s ease forwards;
    color: red;
  }
}

@keyframes errorShow {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 16px;
  }
}


