.NavBar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--navbar-height);
	margin-bottom: 40px;
	z-index: 999;
	background: #121212;
	color: lavender;

	& > ul {
		display: flex;
		justify-content: flex-end;
		gap: 40px;
		padding: 1em;

		li {
			transition: 0.2s ease;
			width: 70px;
			cursor: pointer;
			&:hover {
				color: #fff;
				scale: 1.06;
				text-shadow: 0 0 4px lime;
			}

			a {
				transition: 0.2s ease;
				&.active {
					color: lime;
				}
			}
		}
	}
}
