.TodoList {
	width: 90%;
	height: 280px;
	border: 1px solid rgb(0, 128, 128, 70%);
	border-left: 0;
	border-right: 0;
	border-radius: 6px;
	box-shadow: inset 2px 5px 20px 0px #0004, inset 2px 5px 5px #0002, inset 0 -3px 15px 0px #0001;
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow-y: auto;
	padding: 10px;
	scrollbar-gutter: stable;
	background: #0001;
	backdrop-filter: blur(1px);
	letter-spacing: 1px;

	&::-webkit-scrollbar {
		width: 0.7vw;
		transition: 0.2s ease;
	}
	&::-webkit-scrollbar-track {
		background-color: #2fc1ff20;
		transition: 0.2s ease;
	}
	&::-webkit-scrollbar-track:hover {
		background-color: #2fd9ff40;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #757575;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: rgba(0, 170, 255, 0.5);
	}
	scrollbar-width: thin;

	&-todoLine {
		width: 100%;
		height: 48px;
		border-left: 4px solid rgb(0, 172, 172);
		font-size: 2em;
		font-family: 'Bebas Neue', sans-serif;
		padding-left: 10px;
		display: flex;
		justify-content: space-between;
		// border-radius: 100px;
		transition: 0.3s ease;

		&.marked {
			border-left: 4px solid rgb(172, 0, 161);
			transition: 0.3s ease;
		}

		label {
			// width: 80%;
			// border: 1px solid red;

			p {
				display: inline-block;
				cursor: pointer;
				// border: 1px solid black;

				&.marked {
					text-decoration: line-through;
					// text-decoration-color: red;
					text-decoration-thickness: 2px;
					animation: lineThroughAppear 0.3s ease;
				}
			}

			#todoInput {
				display: none;
			}
		}
	}

	&-control > i {
		transition: 0.3s ease;

		&.fa-trash-can:hover {
			color: rgb(122, 0, 0);
			cursor: pointer;
		}

		&.fa-bars {
			cursor: grab;
			margin-left: 24px;

			&:active {
				cursor: grabbing;
			}
		}
	}
}

@keyframes lineThroughAppear {
	0% {
		text-decoration-color: transparent;
	}
	100% {
		text-decoration-color: black;
	}
}
