@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700&family=Roboto&display=swap');

body {
  font-family: "Playpen Sans";
  background: aliceblue;
}

.scrollHide {
  width: calc(100% - 16px);
  overflow: hidden;
}

.ok {
  color: rgb(14, 168, 0);
}

.wrong {
  color: rgb(255, 0, 0);
}

.show {
  display: block;
}