.Users {
  overflow-y: auto;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  ._item {
    padding: 20px;
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all .3s ease;

    &:hover {
      cursor: pointer;
      background-color: antiquewhite;
    }

    ._userName {
      font-size: 22px;
      font-weight: 500;
    }
  }
}