.NavBar {
	height: var(--navBar-height);
	background: #121212;
	padding: 6px 10px;
	z-index: 10;

	&-homeLink {
		margin-right: auto;
	}

	&-sliderLink {
		margin-left: auto;
	}

	ul {
		display: flex;
		justify-content: flex-end;
		color: lavender;
		li {
			a {
				font-size: 2em;

				&.active {
					text-shadow: 0 0 4px cyan;
				}
			}
		}
	}
}
