.NavBar {
	height: var(--navBar-height);
	background: #121212;
	padding: 6px 16px;
	position: relative;
	z-index: 99;

	&-list {
		display: flex;
		justify-content: left;
		gap: 22px;
		color: lavender;
		li {
			a {
				font-size: 2em;

				&.active {
					text-shadow: 0 0 4px cyan;
				}
			}
		}
	}

	&-homeLink {
		margin-right: auto;
	}

	&-sliderLink:nth-child(1) {
		margin-left: auto;
	}
}
