$Primary-Color: #408ec6;
$Secondary-Color: #7a2048;
$Background-Color: #1e2761;

table {
  background-color: $Background-Color;
  color: #fff;
  width: 100%;
  border-collapse: collapse;

  th, td {
    border: 1px solid $Background-Color;
    padding: 12px;
    text-align: center;
  }

  th {
    background-color: $Secondary-Color;
    color: #fff;
  }

  td {
    background-color: $Primary-Color;
  }

  img {
    width: 50px;
  }

  button {
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover {
      color: $Secondary-Color;
    }
  }
}
