body {
  background-color: #222;
}

::-webkit-scrollbar {
  width: 0;
}

.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 70vh;

  &-header {
    &_text {
      font-size: 72px;
      text-shadow: 4px 4px 4px rgb(0, 0, 0);
      color: rgba(245, 245, 245, 0.954);
      transform: translateX(300%);
      opacity: 0.1;
      animation: moveLoad 2s ease .5s forwards;
    }
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

@keyframes moveLoad {
  0% {
    opacity: 0.1;
    transform: translateX(300%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}