.App {
  display: flex;
  justify-content: space-around;
  gap: 20px;

  &-leftSide,
  &-rightSide {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 45%;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  padding: 8px;
  font-size: 16px;
  outline: none;
  border: 1px solid #d3d3d3;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #d3d3d3;
  background-color: white;

  p {
    color: red;
  }

  button {
    display: block;
    padding: 12px 32px;
    align-self: flex-end;
    border: 1px solid #d3d3d3;
    background-color: white;
    font-size: 16px;
    transition: all .3s ease;

    &:hover {
      cursor: pointer;
      background-color: antiquewhite;
    }

    &:active {
      background-color: white;
    }
  }
}

body {
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  border-left: 1px solid #d3d3d3;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
}