.CustomField {
  position: relative;
  min-width: 350px;
  margin: 20px 0;

  &>p {
    position: absolute;
    left: 0;
    color: red;
    user-select: none;
  }

  &:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &>.text-input {
    display: block;
    width: 100%;
  }

  &>label {
    position: absolute;
    left: 0;
    top: -20px;
    font-size: 18px;
    color: grey;
    user-select: none;

    &::after {
      content: " \2B9F";
      font-size: 18px;
      user-select: none;
    }
  }
}