.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Montserrat;
  padding: 50px 0;

  &-leftSide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  &-middle {
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 40px;

      li>a {
        color: white;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  &-rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}