.Select{
    position: fixed;
    float: right;
    right: 30px;
    animation: myAnim 2s ease 0s 1 normal forwards;
    @keyframes myAnim {
        0% {
            transform: scale(0.5);
        }
    
        100% {
            transform: scale(1);
        }
    }
}