footer{
    position: absolute;
    bottom: 0px;
    background-color:  #e69090;
}
.users{
    list-style-type: none;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    // border: 2px solid grey;
    border-radius: 5px;
    

}
.userlist{
    border: 2px solid  #e69090;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
}
.App{
    margin: 0 auto;
    text-align: center;
    // border: 2px solid grey;
    border-radius: 5px;
}
.Form{
    padding: 10px;
    border: 2px solid  #d3c1c1;
    text-align: center;
    margin-top: 2em;
    padding: 30px;
   border-radius: 5px;
}
.Form input{
padding: 8px;
margin: 3px;
border-radius: 5px;

}
table{
    width: 600px;
    margin: 0 auto;
    border: 3px solid rgb(145, 103, 103);
    margin-top: 30px;
}
tr{
    border: 2px solid  #e69090;
}