.UserPhotos {

  &-header {
    padding: 20px;

    form {
      display: flex;
      gap: 20px;
    }

    input {
      width: 60%;
      border: none;
      outline: none;
      padding: 12px 24px;
      font-size: 16px;
      border-radius: 1000px;
      background-color: #333;
      color: lightgray;
    }

    &_addBtn {
      padding: 12px 24px;
      border: none;
      outline: none;
      background-color: #333;
      color: lightgray;
      font-size: 16px;
      border-radius: 1000px;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    padding: 20px;
    border-radius: 20px;
    background-color: #333;

    &>h2 {
      text-align: center;
      grid-column: 1 / 7;
      padding: 15px 0;
      color: lightgray;
    }

    &_imgBox {
      width: 100%;
      position: relative;

      &>i {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 32px;
        color: #0077ff;
        opacity: 0;
        transition: all .5s ease;

        &:hover {
          cursor: pointer;
          color: orangered;
        }
      }

      &:hover {
        cursor: pointer;
      }

      &:hover i {
        cursor: pointer;
        opacity: 1;
      }

      &>img {
        display: block;
        object-fit: cover;
        width: 100%;
        aspect-ratio: 9 / 16;
        border-radius: 10px;
      }
    }
  }
}