body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  
  &:hover {
    background-color: #45a049;
  }
  &_delete {
    cursor: pointer;
    border: none;
    font-size: 22px;
    color: grey;
    float: right;
    &:hover {
      color: red;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

pre {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
}
