body{
    background-color: rgb(101, 101, 101);
    color: beige;
}
.DataPrev{
    float: left;
    margin-left: 200px;
    h1{
     margin-left: 300px;
     animation: myAnim 2s ease 0s 1 normal forwards;
     @keyframes myAnim {
        0%,
        50%,
        100% {
            opacity: 1;
        }
    
        25%,
        75% {
            opacity: 0;
        }
    }
    }
    &>.Data{
        border: 1px solid wheat;
        width: 400px;
        height: 100%;
        margin: 10px auto;
        padding: .5em;
        text-align: center;
        justify-content: center;
        display: inline-block;
        grid-template-columns: repeat(repeat(4, 1fr));
        margin-inline: 5px; 
        animation: myAnim 2s ease 0s 1 normal forwards;
        @keyframes myAnim {
            0% {
                animation-timing-function: ease-in;
                opacity: 0;
                transform: translateY(-250px);
            }
        
            38% {
                animation-timing-function: ease-out;
                opacity: 1;
                transform: translateY(0);
            }
        
            55% {
                animation-timing-function: ease-in;
                transform: translateY(-65px);
            }
        
            72% {
                animation-timing-function: ease-out;
                transform: translateY(0);
            }
        
            81% {
                animation-timing-function: ease-in;
                transform: translateY(-28px);
            }
        
            90% {
                animation-timing-function: ease-out;
                transform: translateY(0);
            }
        
            95% {
                animation-timing-function: ease-in;
                transform: translateY(-8px);
            }
        
            100% {
                animation-timing-function: ease-out;
                transform: translateY(0);
            }
        }
        &>.DataRemove{
            position: absolute;
            bottom: 55px;
            right: 40px;
            cursor: pointer;
        }
    }
    button{
        position: relative;
        top: 30px;
        left: 300px;
        width: 100px;
        height: 35px;
        margin-inline: 5px;
        border-radius: 8px;
        animation: myAnim 2s ease 0s 1 normal forwards;
        @keyframes myAnim {
            0% {
                animation-timing-function: ease-in;
                opacity: 0;
                transform: translateY(-250px);
            }
        
            38% {
                animation-timing-function: ease-out;
                opacity: 1;
                transform: translateY(0);
            }
        
            55% {
                animation-timing-function: ease-in;
                transform: translateY(-65px);
            }
        
            72% {
                animation-timing-function: ease-out;
                transform: translateY(0);
            }
        
            81% {
                animation-timing-function: ease-in;
                transform: translateY(-28px);
            }
        
            90% {
                animation-timing-function: ease-out;
                transform: translateY(0);
            }
        
            95% {
                animation-timing-function: ease-in;
                transform: translateY(-8px);
            }
        
            100% {
                animation-timing-function: ease-out;
                transform: translateY(0);
            }
        }
        
    }
   
    }
    h2{
        border: 1px solid wheat;
        width: 400px;
        height: 100%;
        margin: 10px auto;
        padding: .5em;
        text-align: center;
        justify-content: center;
        display: inline-block;
        grid-template-columns: repeat(repeat(4, 1fr));
        margin-inline: 5px; 

    }

