.red{
    color: red;
    &-redo{
        color: green
    }
}
.posts{
    margin: 0 auto;
    color: rgb(15, 15, 15);
    border: 2px solid rgb(199, 34, 34);
    list-style-type: none;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    transition: 1s;
    &-header{
        color:green;
        text-align: center;
        text-shadow: 5px 5px 5px;
        border: none;
       
    }
    &-lists{
        border: 2px solid green;
        border-radius: 5px;
        font-size: 15px;
       

    }
    &-lists:hover{
        color:red;
        
    }
    &-secondhead {
        color:rgb(39, 14, 185) ;
        font-size: 20px;  
        border: none;
        text-align: center;
        text-shadow: 5px;
        
       } 
}