.AddGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 30px;

	// & > .pageTitle {
	// 	color: rgb(205, 70, 183);
	// }

	& .pageTitle {
		background-image: linear-gradient(to right bottom, rgb(205, 70, 183), rgb(205, 70, 183));
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		width: 600px;
		overflow: hidden;
		gap: 20px;
		animation: appear 1s ease 1s backwards;

		input[type='submit'] {
			background: blueviolet;
			border: 0;
			width: 130px;
			height: 36px;
			border-radius: 8px;
			font-size: 1.2em;
			font-weight: 500;
			transition: 0.2s ease;
			cursor: pointer;

			&:hover {
				background: violet;
			}
		}
	}
}
