.Books{
    width: 75%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.Books>li{
    background-color: rgb(249, 186, 140);
    border:2px solid grey;
    padding: 1em;
    text-align: center;
    margin: 20px;
    flex: 0 0 24%;
}