header{
    height: 100px;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #222;
    background-color: #e69090;
}
ul{
    list-style: nine;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 40%;
}