.PostList {
	width: 70%;
	height: 100%;
	background: #e6e6fa44;
	padding: 30px 10px;
	box-shadow: 2px 5px 10px 2px #0002;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;

	&-title {
		background: #fffa;
		mix-blend-mode: overlay;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		font-size: 1.8em;
		font-weight: 800;
		letter-spacing: 1px;
		top: 0;
		user-select: none;
	}

	&-developerName {
		opacity: 0.4;
	}

	&-controlSection {
		width: 90%;
		display: flex;
		gap: 30px;
		justify-content: center;
		align-items: center;

		button {
			cursor: pointer;
			height: 50px;
			background: #0004;
			border: 0;
			font-size: 1em;
			padding: 2px;
			transition: 0.2s ease;
			user-select: none;

			&.shuffleBtn {
				width: 260px;
			}

			&.idChange {
				width: 150px;
			}

			&:hover {
				color: white;
			}
		}
	}

	&-content {
		width: 96%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;
		overflow-y: auto;
		padding: 20px;
		scrollbar-gutter: stable;

		&::-webkit-scrollbar {
			width: 0.5vw;
			transition: 0.2s ease;
		}
		&::-webkit-scrollbar-track {
			background-color: #2fc1ff20;
			transition: 0.2s ease;
		}
		&::-webkit-scrollbar-track:hover {
			background-color: #2fd9ff40;
		}
		&::-webkit-scrollbar-thumb {
			background-color: rgba(0, 170, 255, 0.5);
		}
		&::-webkit-scrollbar-thumb:hover {
			background-color: rgb(0, 170, 255);
		}
	}

	&-noData {
		transform: translateY(130px);
		animation: appearFromTop 0.6s ease;
	}
}

@keyframes appearFromTop {
	0% {
		opacity: 0;
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		transform: translateY(130px);
	}
}
