h2{
    font-size: 50px;
    margin: 50px auto;
    // text-align: center;
    font-weight: 900px;
    color: transparent;
    -webkit-text-stroke: 2px;
    font-style: normal;
    -webkit-text-stroke-color: #111;
}
h3, h2{
    
    margin:30px 60px;
}
