@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1.6;
  font-family: "Playpen Sans";
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}