@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700&family=Roboto&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  line-height: 1.6;
  font-family: "Playpen Sans";
  background-color: rgb(101, 101, 101);
  color: beige;
} */

 
/* a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
li{
  border-radius: 4px;
  border: 1px solid black;
  padding: 5px;   
 }  */
