@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  line-height: 1.6;
  font-family: "Monserrat";
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
.slick-slider{
  width: 96%;
  margin: 20px auto;
  position: relative;
}
.slick-list{
  height: 100%;
  width: 90%;
  margin: 20px auto;
  
}
.slick-slide > div{
height: 100%;
}
.slick-track{
  height: 100%;
  
  margin: 20px auto;
}
.slick-arrow, .slick-prev{
  border: 2px solid black;
  border-radius: 5px;
  color: black !important;
  background-color: white;
  position: absolute !important;
}