.TodoList {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 30px;

  &-bar {
    position: relative;
    padding: 20px;
    background-color: darkcyan;
    text-align: center;
    color: white;  

    &> h1 {
      padding: 20px 0;
    }

    &_count {
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 20px;
      color: white;
    }

    &_btn {
      padding: 12px 24px;
      border: none;
      border-radius: 1000px;
      color: white;
      background-color: #444;
      font-size: 18px;

      &:hover {
        cursor: pointer;
        background-color: #222;
      }
      &:focus {
        cursor: pointer;
        outline: none;
        background-color: #222;
      }
    }
  }
  &-body {
    min-height: 200px;
    background-color: rgba(0, 139, 139, 0.349);

    & ._title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &> h2 {
        font-weight: 500;
      }
    }

    & ._buttons {
      width: fit-content;
      display: flex;
      gap: 30px;
      padding: 0 30px;
      font-size: 24px;

      & ._color {
        color: #444;
      }

      &> i {
        &:hover {
          cursor: pointer;
        }
      }
    }

    &> ul {
      padding: 20px;

      &> li {
        padding: 20px;
        background-color: rgba(32, 178, 171, 0.753);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        &:hover {
          background-color: darkcyan;
        }

        &:nth-child(2n + 1) {
          background-color: lightseagreen;

          &:hover {
            background-color: darkcyan;
          }
        }
      }
    }
  }
}
