.MainContent {
	width: 100%;
	font-size: 30px;
	min-height: 80%;
	color: white;
	border: 3px solid rgb(0, 170, 255);
	border-radius: 10px;
	border-left: 0.2px solid rgba(0, 0, 0, 0.2);
	border-right: 0.2px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 4px #0002, inset 0 0 20px 4px #0002;
	padding: 1em 2.4em;
	overflow: hidden;
	position: relative;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 70px 40px 40px 1fr;
	grid-template-areas:
		'name name'
		'username email'
		'phone website'
		'address company';

	&-name {
		width: calc(var(--width) * 0.54em);
		text-align: center;
		grid-area: name;
		position: relative;
		color: rgba(117, 211, 255, 1);
		mix-blend-mode: difference;
	}

	&-id {
		position: absolute;
		top: -100px;
		left: 20px;
		font-size: 1.6em;
		text-align: center;
		transition: 0.4s ease;
		width: 50px;
		height: 50px;
		border: 1px solid #0005;
		box-shadow: 1px 2px 2px #0005, inset 0px 10px 20px #0005;
		background: teal;
		line-height: 1em;
		border-radius: 6px;
	}

	&:hover > &-id {
		top: -4px;
	}

	& > span {
		display: block;
	}

	&-username {
		grid-area: username;
	}

	&-email {
		grid-area: email;
	}

	&-phone {
		grid-area: phone;
	}

	&-website {
		grid-area: website;
	}

	&-address {
		grid-area: address;
	}

	&-company {
		grid-area: company;
	}

	& button {
		border: 0;
		width: 32%;
		padding: 4px;
		background: transparent;
		color: rgb(0, 177, 247);
		text-align: left;
		cursor: pointer;
		font-family: inherit;
		font-size: 1em;
		transition: 0.2s ease;

		& .fa-chevron-down {
			margin-left: 10px;
			transition: 0.2s ease;
		}

		&:hover {
			color: #9acd32;
			transition: 0.2s ease;
			text-shadow: 0 0 5px #9acd3255;

			& .fa-beat-fade {
				color: pink;
			}
		}
	}

	.MainContent-viewCompany {
		&_opened {
			transform: rotate(0.5turn);
		}

		&_closed {
			transform: rotate(0);
		}
	}

	.MainContent-viewAddress {
		&_opened {
			transform: rotate(0.5turn);
		}

		&_closed {
			transform: rotate(0);
		}
	}

	& > * {
		letter-spacing: 1px;
		& > span {
			color: greenyellow;
		}
	}
}
