* {
  font-family: monospace;
}

body {
  background-color: bisque;
}

.productList {
  width: 60%;
  display: inline-block;
}

.productText {
  font-size: 36px;
  margin-left: 0.8em;
}

.card {
  border: 1px solid black;
  margin: 1.7em;
}

.totalPrice {
  width: 39%;
  display: inline-block;
}

.Price {
  font-size: 28px;
  margin: 20px;
}

hr {
  width: 90%;
}

.totalProductText {
  font-size: 28px;
}


.productName {
  font-size: 28px;
  margin: 20px;
  display: inline-block;
}

.multi {
  margin: 20px;
  float: right;
}

.multiBtn {
  width: 45px;
  height: 45px;
  border: 0;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  margin-right: 10px;
}

.multiBtn:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
  transition: all 1s ease;
}

.totalSelectedProduct {
  margin: 20px;
}

.productPrice {
  font-size: 28px;
  margin-left: 1em;
  display: inline-block;
}

.arrow {
  width: 45px;
  height: 45px;
  border: 0;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  margin: 25px;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
  transition: all 1s ease;
}