.Childprop{
    display: inline-block;
    color: antiquewhite;
   & li{
    border: 1px solid black;
    width: 350px;
    padding: 3px;
    margin: 10px;
   border-radius: 12px;
   background: rgb(34,193,195);
   background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
   
   }
}