.Post {
	min-height: 200px;
	border: 1px solid #0001;
	padding: 1em;
	border-radius: 16px;
	color: rgb(108, 43, 43);
	overflow: hidden;
	display: grid;
	grid-template-columns: min-content;
	grid-template-rows: min-content;
	grid-template-areas:
		'title title delete'
		'body body .'
		'body body id';
	gap: 20px;
	box-shadow: 2px 5px 5px #0005;
	font-size: 20px;
	line-height: 20px;

	&:nth-child(1) {
		grid-area: top-left;
		background: #ff007b;
	}

	&:nth-child(2) {
		grid-area: right-top;
		background: #0066ff;
	}

	&:nth-child(3) {
		grid-area: bottom-right;
		background: #ffc800;
	}

	&:nth-child(4) {
		grid-area: left-bottom;
		background: #3ff91a;
	}

	&:nth-child(5) {
		grid-area: center;
		background: #ff00ee;
	}

	&:hover > .Container-userId {
		top: -2px;
	}

	&-userId {
		border-radius: 4px;
		text-align: center;
		font-size: 2.5em;
		grid-area: id;
		justify-self: end;
		align-self: end;
	}

	&-title {
		font-variant: small-caps;
		text-align: center;
		grid-area: title;
		width: 100%;
		height: 100%;
		font-size: 26px;
		justify-self: center;
		align-self: center;
		letter-spacing: 2px;
	}

	&-body {
		grid-area: body;
		font-size: 18px;
		justify-self: center;
	}

	&-delete {
		grid-area: delete;
		border-radius: 50%;
		background: transparent;
		border: 0;
		cursor: pointer;
		font-size: 1.4em;
		width: 40px;
		height: 40px;
		align-self: start;
		justify-self: end;
		opacity: 0.7;
	}
}
