.Menu {
	position: absolute;
	top: 0;
	padding: 1em 1.6em;
	width: 100%;

	ul {
		display: flex;
		justify-content: flex-end;
		gap: 40px;

		li {
			background: linear-gradient(to right, lime, cyan);
			background-clip: text;
			-webkit-background-clip: text;
			position: relative;
		}

		a {
			color: lavenderblush;
			transition: 0.2s ease;
			// display: inline-block;
			// background: transparent;
			padding: 4px;
			transition: 0.3s ease;

			&.activeLink {
				transition: 0.3s ease;
				&::before {
					content: '';
					position: absolute;
					width: 100%;
					top: -20px;
					left: 0;
					box-shadow: 0 6px 40px 8px rgb(255, 48, 190);
					transition: 0.3s ease;
					animation: activeLight 0.3s ease;
				}
			}

			&:hover {
				color: transparent;
			}
		}
	}
}

@keyframes activeLight {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: 0 6px 40px 8px rgb(255, 48, 190);
	}
}
