.ControlPanel {
	display: flex;
	height: 46px;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 0 1em;

	&-completeAll {
		height: 100%;
	}

	&-progressBar {
		width: 300px;
		color: black;
		padding: 2px 10px;
		line-height: 40px;
		box-shadow: 2px 3px 4px #0004;
		background-image: linear-gradient(to right, #ff2727, #ff4747);
		background-repeat: no-repeat;
		// background-position-x: -300px;
		transition: 0.3s ease;
	}

	&-progressInfo {
		width: 100%;
		text-align: center;
	}
}
