.Lists {
  min-height: 50%;
  max-height: 50%;
  padding: 10px;
  overflow: hidden;
  overflow-y: auto;
  background: #444;

  &>* {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &-item {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.461);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    &>h2 {
      overflow: hidden;
      color: white;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 16px;
      max-width: 70%;
      font-weight: 400;
    }

    &>span {
      display: block;
      height: fit-content;
    }

    & svg {
      color: white;
      font-size: 24px;
      vertical-align: middle;

      &:hover {
        cursor: pointer;
        color: brown;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.712);
    }
  }
}