*body {
    width: 99%;
    height: 100%;
    background: rgb(233,235,151);
    background: linear-gradient(340deg, rgba(233,235,151,1) 0%, rgba(237,81,113,0.9920343137254902) 100%);
    display: flex;
}

